---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import TagList from "../components/TagList.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="mt-8">
		<h2>{frontmatter.description}</h2>
	</div>
	{
		frontmatter.image && (
			<div class="mt-8 flex flex-col gap-2">
				<Image src={frontmatter.image} alt={frontmatter.imageAlt ?? ""} />
				<span class="text-sm ">{frontmatter.imageAlt}</span>
			</div>
		)
	}
	<div class="mt-8">
		<p>
			<em
				>Published on: {frontmatter.pubDate.toDateString()}
				{
					frontmatter.updatedDate && (
						<span> · Updated: {frontmatter.updatedDate.toDateString()}</span>
					)
				}
			</em>
		</p>
		<TagList tags={frontmatter.tags} />
	</div>

	<Prose>
		<slot />
	</Prose>
</BaseLayout>
